@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: #fafafa;
  width: 100%;
  position: relative;
}

.navbar {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.logo {
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img {
  height: 100%;
  margin-top: 5px;
}

.searchbar {
  background: #fafafa;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 25px;
  width: 290px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: capitalize;
}

.searchbar::placeholder {
  color: #808080;
}

.nav-links {
  height: 22px;
  position: relative;
}

.icon {
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}
.main{
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(194, 173, 173, 0.283);
    background-size: cover;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-gap: 1000px;
}

.left-col{
    display: flex;
    flex-direction: column;
}
.status-wrapper{
    width: 100%;
    height: 170px;
    background: rgb(247, 247, 247);
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    margin-left: 100px;
}
/* -------------Profile Pic------------- */
.profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    padding: 2px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
/* -----------User Name--------------- */
.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    margin-top:5px;
    color: rgba(0, 0, 0, 0.8)
}

.Follow {
  color: #fff;
  background-color: #0095f6;
  font-size: 0.8em;
  width: 4em;
  height: 1.5em;
  border: unset;
  cursor: pointer;
 margin-top: 3px;
 
  
}
/* -------------------------Gallery Post----------------------------- */

.gallery-nav {

  
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-image: url(https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  height: 100vh;
}
.gallery {

  display: grid;  
      
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
 padding: 50px;
 
 object-fit: cover;
 

 
}

.post-img>img{
  justify-items: center;
  width: 20em;
  height: 20em;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  

  object-fit: cover;
  object-position: center;
  transform: scale(1.15);
  transition: transform 0.7s, opacity 0.5s;
  
}

 .post-img > img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/* ----------Like Button----------- */
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.heart-btn{
  position: relative;
  width: 110px;
  
}
.content{
  padding: 12px, 12px;
  display: flex;
 
  border-radius: 9px;
  cursor: pointer;
}
.heart{
  position: absolute;
  background: url("https://cdn-icons-png.flaticon.com/512/833/833300.png") no-repeat;
  background-position: left;
  background-size: 25%;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

 .numb:before{
  content: '100';
  font-size: 20px;
  margin-left: 40px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}
.numb.heart-active:before{
  content: '101';
  color: rgb(214, 7, 7);
}
.text.heart-active{
  color: rgb(0, 0, 0);
} */


/* ------------Footer------------------- */
footer{
    background-color: rgba(227, 219, 219, 0.749);
    padding: 30Px;
    font-size: 100%;
    margin-top: 0px;
}

.footer-nav{
    list-style: none;
    float: left;
}


.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 50px;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    border:0;
    color: rgb(249, 28, 28);
    transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: rgb(249, 16, 16);
}


footer p{
    color: rgb(223, 8, 8);
    text-align: center;
    font-size: 100%;
    margin-top: 20px;
}




